<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
    <add key="ChatLoggedInText" value="Just logged in!"/>
		<add key="ConnectionString" value="Password=Aceindus@1129;Persist Security Info=True;User ID=jcalluz;Initial Catalog=jcalluz;Data Source=jcalluz.db.8035572.hostedresource.com"/>
		<add key="career_connectionstring" value="Password=Aceindus@1129; User ID=careersgen9;Initial Catalog=careersgen9;Data Source=careersgen9.db.5933711.hostedresource.com"/>
		<add key="MConnectionString" value="Data Source=Montessori9.db.8035572.hostedresource.com;Initial Catalog=Montessori9;User id=Montessori9;Password=Kysr@2277"/>

    <!--<add key="SmsUsername" value="montessori"/>
    <add key="SmsPassword" value="Gani1525"/>-->
    <add key="SmsUsername" value="aceindus"/>
    <add key="SmsPassword" value="ACEINDUS9"/>
<add key="paypalemail" value="adhilkashmich@gmail.com"/>
    <add key="token" value="AFcWxV21C7fd0v3bYYYRCpSSRl31Aihr4WKmAloSSXW7lJx4Y-RkSE-3"/>
	</appSettings>
	
	<connectionStrings>
    <add name="LinqChatConnectionString" connectionString="Data Source=jcalluz.db.8035572.hostedresource.com;Initial Catalog=jcalluz;User ID=jcalluz;Password=Mnhbs@123" providerName="System.Data.SqlClient"/>
		<add name="sidardhConnectionString" connectionString="Data Source=jcalluz.db.8035572.hostedresource.com;Initial Catalog=jcalluz;User ID=jcalluz;Password=Mnhbs@123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<!--<smtp from="info@wizardsedu.ws">
        <network  host  ="smtpout.secureserver.net"  password  ="Aceindus9"  userName  ="info@wizardsedu.ws"  />        
      </smtp>-->
      <!--<smtp from="info1@aceindus.net">        
        <network host ="smtpout.secureserver.net" password ="indusgroup1" userName ="info1@aceindus.net" />       
      </smtp>-->
		</mailSettings>
	</system.net>
	<system.web>
 <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<!--<customErrors mode="RemoteOnly" defaultRedirect="HttpErrorPage.aspx"/>-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>-->
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
   
      
  
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
		<!--<customErrors mode="RemoteOnly" defaultRedirect="HttpErrorPage.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>-->
		<customErrors mode="Off"/>
    <identity impersonate="true"/>
		<pages validateRequest="false" enableEventValidation="false" maintainScrollPositionOnPostBack="true" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
     
		</httpHandlers>
		<httpModules>
			<add type="QueryStringModule" name="QueryStringModule"/>
		</httpModules>
		<sessionState timeout="20"/>
		<httpRuntime executionTimeout="5000" maxRequestLength="2097150" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" requestValidationMode="2.0"/>
		<securityPolicy>
        <trustLevel name="Full" policyFile="internal"/>        
      </securityPolicy>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
    
    <rewrite>
      <rules>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^justcalluz.com$" />
          </conditions>
          <action type="Redirect" url="http://www.justcalluz.com/{R:0}" redirectType="Permanent" />
        </rule>

        <rule name="Default Document" stopProcessing="true">
          <match url="(.*?)/?default\.aspx$" />
          <action type="Redirect" url="{R:1}/" />
        </rule>
      </rules>
    </rewrite>
    
		<validation validateIntegratedModeConfiguration="false"/>
    
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    
		<handlers>
			<add name="MSCaptcha" path="CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
  	</handlers>
    
    <caching>
      <profiles>
        <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client"/>
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client"/>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client"/>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client"/>
      </profiles>
    </caching>
    
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
    
	</system.webServer>
</configuration>
