*{
	 padding:0px;
	 margin:0px;
}
body{
	font-family: "Comic Sans MS", cursive;
	font-size:12px;
	color:#333;
	padding:0px;
	margin:0px;
	line-height:18px;
	
}
img{
	border:0;
}
.layout {
	          width:963px;
			  padding-left:20px;
			  padding-right:15px;
			  margin:0px auto;
			  height:auto;
}
.signin{
	        width:100%;
			height:40px;
			float:left;
			padding-top:10px;
}
.logo{
	     width:100%;
		 height:120px;
		 margin:0px auto;
		 float:left;
		
}
.topmenu{
	      width:100%;
		  height:50px;
		  float:left;
		  font-size:13px;
		  color:#036;
		  font-weight:bold;
		  padding-top:30px;
}
.topmenu a{
	
	       text-decoration:none;
		   color:#060;
}
.topmenu a:hover{
	        text-decoration:none;
		    color:#f30;
}
.search{
	     width:100%;
		 height:85px;
		 float:left;
		 font-family: "Times New Roman", Times, serif;
		 font-size:14px;
		 color: #C60;
		 font-weight:bold;
}
.content{
	      width:96.5%;
		  height:auto;
		  float:left;
		  padding:10px 20px 10px 20px;
		  
}
.content_left{
	           width:75%;
			   height:auto;
			   float:left;
}
.content_right{
	            width:21%;
				height:auto;
				float: left;
				margin-left:10px;
				border:1px #CCC solid;
				padding:10px;
				
				}
				
.content_bootam{
	             width:100%;
				 height:auto;
				 float:left;
				
				 padding-top:30px;
}
.content_midbootam{
	             width:100%;
				 height:auto;
				 float:left;
}
.content_bootam_center{
	             width:100%;
				 height:auto;
				 float:left;
}
.middle{
	      width:100%;
		  height:auto;
		  margin:0px auto;
		  
}
.content_inner{
	             width:95.5%;
				 height: auto;
				 float:left;
				 margin:5px 20px 5px 20px;
				
				 
		
}
.content_innerleft{
	           width:19%;
			   float:left;
			   margin-right:6px;
			 
}

.content_innermid{
	           width:61%;
			   float:left;
			  
			  }
.contenbox{
	          width:174px;
			  height:auto;
			  float:left;
}
.contentbox_top{
	           width:161px;
			   height:22px;
			   float:left;
			   background:url(../images/left_topbg.png) no-repeat top;
			   font-size:14px;
			   font-weight:bold;
			   color:#FFF;
			   font-family: Arial, Helvetica, sans-serif;
			   padding:5px 5px 5px 8px;
}
.contentbox_mid{
	             width:158px;
				 height:auto;
				 float:left;
				 background: url(../images/left_midbg.png) repeat-y;
				  padding:8px;
				
}
.contentbox_bottam{
	                width:174px;
					height:12px;
					float:left;
					background:url(../images/left_bottam.png) no-repeat;
					
}

/* inner mid box */

.contentmid_box{
	              width:558px;
				  float:left;
}
.contentmid_boxtop{
	                  width:545px;
					  height:20px;
					  float:left;
					  background:url(../images/content_midtop.png) no-repeat top;
					  font-size:14px;
			   font-weight:bold;
			   color:#FFF;
			   font-family: Arial, Helvetica, sans-serif;
			   padding:5px 5px 5px 8px;
}
.contentmid_boxtop a{
	         text-decoration:none;
			 color:#FFF;
			 font-weight:bold;
}
.contentmid_boxtop a:hover{
	 text-decoration :none;
			color:#FFF;
			 font-weight:bold;
}
.contentmid_boxmid{
	                 width:542px;
					 height:auto;
					 float:left;
					 background:url(../images/content_mid.png) repeat-y top;
					  padding:8px;
}
.contentmid_boxbottam{
	                    width:558px;
						height:12px;
						float:left;
						background:url(../images/content_midbottam.png) no-repeat top;
}

	   
.content_innerright{
	           width:19%;
			   float:right;	  
			   }
.headings{
	       color:#900;
		   font-family: "Comic Sans MS", cursive;
		   font-weight:bold;
		   font-size:14px;
}
.headings1{
	       color: #666;
		   font-family: Verdana, Geneva, sans-serif;
		   font-weight:bold;
		   font-size:10px;
		  
}

.footer{
	      width:100%;
		  height:20px;
		  float:left;
		  color:#036;
		  font-family:Arial, Helvetica, sans-serif;
		  font-size:12px;
		 
}
.footer a{
	         text-decoration:none;
			 color:#036;
			 font-weight:bold;
}
.footer a:hover{
	text-decoration:none;
			 color:#C60;
			 font-weight:bold;
}

/*... center menu....*/


.center{
	      width:96.5%;
		  height:auto;
		  float:left;
		  padding:10px 20px 10px 20px;
}
		  
.center_left{
	           width:15%;
			   float:left;
			   height:1180px;

}
.center_mid{
	           width:60%;
			   float:left;
			   height:1180px;

}
/*location list*/
.location {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#FFF;
}
.side_menu{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10.5px;
	font-weight:bold;
	padding-left:4px;
	color:#005B88;
}
	
	
   
.side_menu a{
	
	       text-decoration:none;
		   color:#005B88;
}
.side_menu a:hover{
	        text-decoration: underline;
		    color: #C40000;
			
			
}  
.sub_menu{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left:4px;
	color: #BF0000;
}
.sub_menu a{
	
	       text-decoration:none;
		color:#BF0000;
}
.sub_menu a:hover{
	        text-decoration:none;
		     color:#005B88;
}
.right_tab 	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	padding-left:8px;
	color: #E1680F;
}
.right_tab a{
	
	       text-decoration: none;
		   color:#E1680F;
}
.right_tab  a:hover{
	        text-decoration: underline;
		    color: #C40000;
			
			
}  

/*selected_menu*/
.selection{
	     width:100%;
		 height:70px;
		 float:left;
		 font-family: "Times New Roman", Times, serif;
		 font-size:14px;
		 color: #C60;
		 font-weight:bold;
		 padding-top:5px;
}
/*menu_text*/


.mid_menu {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #004080;
}
.mid1_menu {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color: #F45000;
}
.mid1_menu a{
	
	       text-decoration:none;
		color:#BF0000;
}
.mid1_menu a:hover{
	        text-decoration:none;
		     color:#005B88;
}
/*fotter*/
.bottam {
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color: #004080;
}
.bottam_menu {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color: #0080C0;
}
.bottam_menu a{
	
	       text-decoration:none;
		color:#0080C0;
}
.bottam_menu a:hover{
	        text-decoration: underline;
		     color: #C44000;
}
/*middle search*/

.events{
	         width:520px;
			 float:left;
			 margin-left:10px;
 }
  .events_top{
	                 width:100%;
					 float:left;
					 height:auto;
  }
  .events_mid{
	            width:100%;
				float:left;
				background:url(../images/profial_mid.png) repeat-y top;
  }
  .events_midtext{
	                 width:94%;
					 float:left;
					 padding-left:20px;
					 padding-right:20px;
					 padding-top:20px;
  }
  .events_bottam{
	                 width:100%;
					 float:left;
					 height:10px;
					 background:url(../images/profial_bottam.png) no-repeat top;
  }
  .events_text{
	             width:180px;
				 height:16px;
				 padding:2px;

  }
 
 .star{
	  color:#F00;
 }
 /*form*/
.list{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#000;
}

/*side_menus*/
.select_menu {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color: #004D71;
}
.select_menu a{
	
	       text-decoration:none;
		color:  #004D71;
}
.select_menu a:hover{
	        text-decoration: underline;
		     color: #C44000;
}